// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    padding: 0px;
    margin: 0px;
    background-color: #fefefe;
}

.navbar-laravel {
    .nav-link {
        color: #151515;
        font-size: 18px;
        text-transform: capitalize;
        border: 1px solid #eee;
        background-color: #fff;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, .05);
        border-radius: 5px;
        margin: 0px 5px;
        padding-left: 25px !important;
        padding-right: 25px !important;

        &:hover {
            color: #454545 !important;
        }
    }

    .logo {
        max-width: 120px;
    }
}

.slide {
    background-image: url("/images/83741396.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -200px;
    padding-top: 200px;

    p {
        font-size: 20px;
    }

    .form-group {
        .form-control {
            padding: 15px;
            height: 60px;
            border-radius: 0px;
            margin-bottom: 15px;
        }

        button[type="submit"] {
            margin-top: 10px;
            border-radius: 0px;
            padding: 15px;
            font-weight: bold;
        }
    }

    .creat_post {
        font-size: 20px;
    }

    .home {
        h1 {
            font-size: 45px;
            color: #353847;
            font-family: $dejavu;
            margin-bottom: 25px;
        }

        @media screen and (max-width: 500px) {
            background-image: none !important;
        }
    }
}

.phone_number_div * {
    direction: ltr;
    text-align: left !important;
}

.intro-title {
    padding-top: 50px;
    padding-bottom: 30px;

    h1 {
        color: #353847;
        font-family: "DejaVu Sans" !important;
    }
}

.depute {
    h2 {
        margin-top: 30px;
        margin-bottom: 20px;
        color: #353847;
    }

    h3 {
        font-family: $dejavu;
        color: #353847;
        font-weight: 300;
    }

    .img-thumbnail {
        border-radius: 50%;
        max-width: 200px;
        margin-bottom: 20px;
    }

    p {
        font-size: 15px;
    }
}

.follow-home-section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    margin-bottom: 30px;

    .btn {
        padding: 15px 50px;
        letter-spacing: 1px;
        font-size: 20px;
        border: 2px solid rgba(255, 255, 255, .5);
        background-color: rgba(203, 0, 1, .62);
        color: #fff;
        font-family: $dejavu;

        &:hover {
            background-color: #cb0001;
            opacity: 1;
        }
    }
}

ul {
    padding: 0px;

    li {
        padding: 0px;
        list-style: none;
    }
}

.btn-primary {
    background-color: $red;
    border-color: $red;

    &:hover {
        background-color: rgba(196, 45, 39, 0.5);
    }
}

a {
    color: $red;

    &:hover {
        color: #111;
    }
}

.title {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.card {
    margin-bottom: 20px;
    border: 1px solid #f5f6f7;
    border-radius: 10px;

    .card-header {
        border-radius: 10px 10px 0px 0px;

        .card-title {
            margin: 0px;
            font-size: 20px;
            color: #fff;
        }
    }

    .card-body {
        .card-title {
            font-family: $dejavu;
            color: #cb0001;
        }

        .image {
            width: 100%;
            border-radius: 10px;
        }

        .title {
            font-size: 30px;
            color: #cb0001;
        }

        .sub_title {
            font-size: 25px;
            color: #cb0001;
        }
    }

    .card-footer {
        background-color: rgba(0, 0, 0, 0.005);

        .card {
            .card-header {
                background-color: rgb(250, 251, 252);

                .card-title {
                    color: #454545;
                }
            }
        }
    }

    .card {
        .card-title {
            font-size: 20px;
        }
    }
}

#footer {
    .container {
        padding-top: 10px;
        padding-bottom: 10px;
        color: #454545;
    }
}

h1.title {
    font-family: $title-sans-serif;
}

h2.title {
    color: #1c1e21;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.align-items > li {
    display: inline-block;
    vertical-align: center;
}

.dropdown-menu {
    z-index: 99999999999999999;

    a {
        text-align: left;
        padding: 10px 20px;

        i {
            width: 25px;
        }
    }
}
